$ribOff: false;

.rib {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @if $ribOff {
    display: none;
  }

  &--notReady {
    display: none;
  }


  &__hint {
    margin-top: 1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    animation: popIt .6s 1.75s forwards;
    transform: translateY(-4rem);
    opacity: 0;
    color: black;
    transition: .5s;
    
      &:hover {
          color: pink;
      }
  }

  @keyframes popIt {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(0);
    }

    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}