@import 'colors';
@import 'mixins';
@import 'views';
@import 'components';
@import 'fonts';


*{
    font-family: 'karma', sans-serif;
}
#accueil{

    #container{
        .element{
            color: darkgoldenrod;
            p
            {
              font-size:  2rem; 
                font-weight:bold;
            } 
            h1
            {
                font-size: 5rem;
                font-weight: bold;
            }
           font-size: 4rem;
            margin-top: 5rem;
        }
        a{
            color: darkgoldenrod;
        }
        a:hover{
            color: dimgray
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
    background-image: url(img/videocasimir.mp4);
    height: 100vh;
}




nav{
    a{
        margin-left: 4rem;
        margin-right: 4rem;
        height: 6vh;
        padding-top: 2rem
    }
    a:hover{
        background-color: darkgoldenrod;

    }
    height: 6vh;
}


#lesinfos{
    #container{
        display: flex;
        justify-content: space-around;
        margin-top: 4rem;
        text-align: center;
        
    }
    .element{
        width: 25vw;
        h2{
            padding-top: 2rem;
        }
    }
    
}

footer{
    text-align: center;
    background-color: dimgray;
    color: darkgoldenrod;
    font-weight: bold;
    h1{
        font-size: 5rem;
        margin-bottom: 2rem;
        padding-top: 2rem;
    }
    height: 30vh;
}

#lebistro{
    #container{
        display:flex;
        justify-content: space-around;
        margin-top: 4rem;
        margin-bottom:5rem;
        
        
        .element{
            width: 30vw;
            text-align: center;
        }
    }
}

#lebar{
    #container{
        display:flex;
        justify-content: space-around;
        margin-top: 4rem;
        margin-bottom:5rem;
        
        
        .element{
            width: 30vw;
            text-align: center;
        }
    }
}

#lesphotos{
    #container{
        display:flex;
        justify-content: space-around;
        margin-top: 4rem;
        margin-bottom:5rem;
        
        
        .element{
            width: 30vw;
            text-align: center;
        }
    }
}